Axelrod==3.10.0
-e git+https://github.com/GitToby/axelrod-dojo.git@bf9d9af5f5701ea2ef46e3b6c740a80ffbcdf4e0#egg=axelrod_dojo
cycler==0.10.0
docopt==0.6.2
matplotlib==2.1.0
numpy==1.13.3
prompt-toolkit==1.0.15
pyparsing==2.2.0
pyswarm==0.6
python-dateutil==2.6.1
pytz==2017.3
scipy==1.0.0
six==1.11.0
tqdm==4.19.4
wcwidth==0.1.7
